<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="filePath" value="C:\Users\user\Desktop\C#\旅遊景點\旅遊景點\Datas\" />
		<add key="travelPath" value="C:\Users\user\Desktop\C#\旅遊景點\旅遊景點\Datas\travel\" />
		<add key="GoogleMapAPIKey" value="AIzaSyByAN9fOZeJqg9yH3W8Ah1uCKrI1lDzm3k" />
		<add key="license" value="C:\Users\user\Desktop\C#\旅遊景點\旅遊景點\Aspose.Total.lic"/>
		<add key="template" value="C:\Users\user\Desktop\C#\旅遊景點\旅遊景點\export\Template\"/>
		<add key="newDocument" value="C:\Users\user\Desktop\C#\旅遊景點\旅遊景點\export\NewDocument\"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>